Source: vdsm
Section: admin
Priority: extra
Maintainer: Milan Zamazal <mzamazal@redhat.com>
Build-Depends: debhelper (>= 8.0.0),
 autoconf,
 automake,
 dosfstools,
 gcc,
 genisoimage,
 gettext,
 libasprintf-dev,
 libgettextpo-dev,
 libtool,
 openssl,
 mom (>= 0.4.2),
 pep8,
 psmisc (>= 22.6),
 pyflakes,
 python (>=2.7.3),
 python-dev,
 python-cpopen (>= 1.3),
 python-dmidecode,
 python-libvirt (>= 1.2.9),
 python-netaddr,
 python-nose,
 python-pyinotify,
 python-pthreading (>=0.1.2),
 python-rpm,
 python-selinux,
 python-six,
 sudo (>= 1.7.3),
 python-simplejson (>= 2.0.9),
 python-ioprocess (>= 0.14)
Standards-Version: 3.9.4
Homepage: http://www.ovirt.org/wiki/Vdsm
Vcs-Git: git://gerrit.ovirt.org/vdsm
Vcs-Browser: http://gerrit.ovirt.org/gitweb?p=vdsm.git

Package: vdsm-yajsonrpc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.7.3), python-simplejson (>= 2.0.9)
Description: JSON RPC server and client implementation
 A JSON RPC server and client implementation.

Package: vdsm-python
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python (>=2.7.3)
Description: VDSM python libraries
 Shared libraries between the various VDSM packages.

Package: vdsm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 debianutils,
 bridge-utils,
 dmidecode,
 dosfstools,
 e2fsprogs (>= 1.41.14),
 ed,
 fence-agents,
 genisoimage,
 glusterfs-client,
 glusterfs-common (>= 3.4.1),
 gnutls-bin,
 hostname,
 ifupdown,
 initscripts (>= 2.88),
 iproute,
 libguestfs-tools,
 libnl-utils,
 libsanlock-client1 (>= 2.8),
 libsanlock-dev (>= 2.8),
 libvirt-bin (>= 1.2.9),
 libvirt0 (>= 1.2.9),
 logrotate,
 lvm2 (>= 2.02.95),
 multipath-tools (>= 0.4.9),
 mom (>= 0.4.2),
 nfs-client,
 nfs-server,
 ntp,
 numactl,
 open-iscsi (>= 2.0.873),
 policycoreutils (>= 2.1.10),
 psmisc (>= 22.6),
 python (>= 2.7.3),
 python-cpopen (>= 1.3),
 python-ioprocess (>= 0.14),
 python-dmidecode,
 python-libvirt (>= 1.2.9),
 python-m2crypto,
 python-netaddr,
 python-parted,
 python-pthreading (>= 0.1.2),
 python-pyinotify,
 python-rpm,
 python-selinux,
 python-sepolgen,
 qemu-kvm (>= 2.0.0),
 qemu-utils (>= 2.0.0),
 sanlock (>= 2.4),
 sanlock-python (>= 2.4),
 sasl2-bin,
 sed (>= 4.2.1),
 sosreport,
 sudo (>= 1.7.3),
 tree,
 xz-utils,
 vdsm-yajsonrpc (= ${binary:Version}),
 vdsm-infra (= ${binary:Version}),
 vdsm-jsonrpc (= ${binary:Version}),
 vdsm-python (= ${binary:Version}),
 vdsm-xmlrpc (= ${binary:Version}),

Conflicts: apparmor, vdsm-hook-sriov
Description: VDSM: Virtual Desktop Server Manager
 The VDSM service is required by a Virtualization Manager to manage the
 Linux hosts. VDSM manages and monitors the host's storage, memory and
 networks as well as virtual machine creation, other host administration
 tasks, statistics gathering, and log collection.

Package: vdsm-tests
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.7.3), vdsm (>= ${source:Version}), python-nose
Description: Unit and functional tests for VDSM
 A test suite for verifying the functionality of a running VDSM instance.

Package: vdsm-hooks
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.7.3), vdsm (>= ${source:Version})
Conflicts: vdsm-hook-checkimages, vdsm-hook-ethtool-options, vdsm-hook-vhostmd, vdsm-hook-faqemu, vdsm-hook-directlun, vdsm-hook-macspoof, vdsm-hook-extnet, vdsm-hook-fakevmstats, vdsm-hook-fileinject, vdsm-hook-floppy, vdsm-hook-hostusb, vdsm-hook-hugepages, vdsm-hook-ipv6, vdsm-hook-isolatedprivatevlan, vdsm-hook-nestedvt, vdsm-hook-numa, vdsm-hook-openstacknet, vdsm-hook-pincpu, vdsm-hook-promisc, vdsm-hook-qemucmdline, vdsm-hook-qos, vdsm-hook-scratchpad, vdsm-hook-smbios, vdsm-hook-vmfex, vdsm-hook-vmfex-dev, vdsm-hook-vmdisk, vdsm-hook-allocate-net, vdsm-hook-macbind, vdsm-hook-spiceoptions
Replaces: vdsm-hook-checkimages, vdsm-hook-ethtool-options, vdsm-hook-vhostmd, vdsm-hook-faqemu, vdsm-hook-directlun, vdsm-hook-macspoof, vdsm-hook-extnet, vdsm-hook-fakevmstats, vdsm-hook-fileinject, vdsm-hook-floppy, vdsm-hook-hostusb, vdsm-hook-hugepages, vdsm-hook-ipv6, vdsm-hook-isolatedprivatevlan, vdsm-hook-nestedvt, vdsm-hook-numa, vdsm-hook-openstacknet, vdsm-hook-pincpu, vdsm-hook-promisc, vdsm-hook-qemucmdline, vdsm-hook-qos, vdsm-hook-scratchpad, vdsm-hook-smbios, vdsm-hook-vmfex, vdsm-hook-vmfex-dev, vdsm-hook-vmdisk, vdsm-hook-allocate-net, vdsm-hook-macbind, vdsm-hook-spiceoptions
Description: VDSM addons executed at certain points of a virtual machine life cycle
 The package provides the following VDSM hooks:
 .
 directlun - Attach a LUN to a VM
 faqemu - Fake QEMU emulation (the VM will "think" it has VT extensions enabled)
 fileinject - Insert a file into the VM
 floppy - Attach a floppy image to the VM
 hostusb - Attach a hosts' USB device to the VM
 hugepages - Enable hugepages for the VM
 isolatedprivatevlan - Connect VM to an isolated private VLAN instead of a shared network
 numa - Pin a VM to a NUMA node(s)
 pincpu - Pin a VM to a set of CPU cores
 promisc - Start VM on a promiscous mode enabled network
 qemucmdline - Run an arbitrary QEMU command line
 qos - Set a specific network QoS for a VM
 scratchpad - Start the VM with a disposable disk image, that will be removed when the VM is stopped
 smartcard - Enable SPICE smartcard support for a VM
 smbios - Alter a VMs smbios domain entry
 sriov - Attach an SRIOV device to a VM
 vhostmd - Enable vhostmd for a VM
 vmdisk - Add an additional VM disk image
 vmfex - Attach a Cisco VM-FEX device to a VM

Package: vdsm-cli
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.7.3), vdsm-python (>= ${source:Version}), vdsm-xmlrpc (>= ${source:Version})
Description: VDSM command line interface
 Call VDSM commands from the command line. Used for testing and debugging.

Package: vdsm-debug-plugin
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.7.3), vdsm (>= ${source:Version}), vdsm-xmlrpc (>= ${source:Version})
Description: VDSM Debug Plugin
 Used by the trained monkeys at Red Hat to insert chaos and mayhem into VDSM.

Package: vdsm-infra
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.7.3)
Description: Utilities and libraries for vdsm
 Utilities and libraries for vdsm.

Package: vdsm-jsonrpc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.7.3), vdsm-python (>= ${source:Version}), vdsm-yajsonrpc (>= ${source:Version}), python-ordereddict, python-simplejson (>= 2.0.9)
Description: VDSM API Server
 A Json-based RPC interface that serves as the protocol for libvdsm.

Package: vdsm-xmlrpc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.7.3), vdsm-python (>= ${source:Version})
Description: VDSM xmlrpc API
 An XMLRPC interface for interacting with vdsmd. Primary control interface for
 ovirt-engine and vdsClient.

