Source: vdsm
Section: admin
Priority: extra
Maintainer: Milan Zamazal <mzamazal@redhat.com>
Build-Depends: debhelper (>= 8),
               dh-autoreconf,
               dh-systemd (>= 1.5),
               python-dev,
               python-nose,
               python-cpopen,
               python-libvirt,
               python-netaddr,
               python-pthreading,
               python-pyinotify,
               python-selinux,
               python-six
Standards-Version: 3.9.6
Homepage: http://www.ovirt.org/wiki/Vdsm
Vcs-Git: git://gerrit.ovirt.org/vdsm
Vcs-Browser: http://gerrit.ovirt.org/gitweb?p=vdsm.git

Package: vdsm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 bridge-utils,
 dmidecode [amd64],
 dosfstools,
 e2fsprogs (>= 1.41.14),
 ed,
 fence-agents,
 genisoimage,
 glusterfs-client,
 glusterfs-common (>= 3.4.1),
 gnutls-bin,
 ifupdown,
 initscripts (>= 2.88dsf-13.3),
 iproute,
 libguestfs-tools,
 libnl-utils,
 libsanlock-client1 (>= 2.8),
 libsanlock-dev (>= 2.8),
 libvirt-clients (>= 1.2.9),
 libvirt0 (>= 1.2.9),
 logrotate,
 lvm2 (>= 2.02.95),
 multipath-tools (>= 0.4.9),
 mom (>= 0.5.1-1),
 nfs-client,
 nfs-server,
 ntp,
 numactl,
 open-iscsi (>= 2.0.873),
 policycoreutils (>= 2.1.10),
 psmisc (>= 22.6),
 python (>= 2.7.3),
 python-cpopen (>= 1.4-1),
 python-ioprocess (>= 0.15.1-1),
 python-dmidecode [amd64],
 python-libvirt (>= 1.2.9),
 python-m2crypto,
 python-netaddr,
 python-parted,
 python-pthreading (>= 0.1.4-1),
 python-pyinotify,
 python-rpm,
 python-selinux,
 python-sepolgen,
 qemu-kvm (>= 2.0.0),
 qemu-utils (>= 2.0.0),
 safelease,
 sanlock (>= 2.4),
 python-sanlock (>= 2.4),
 sasl2-bin,
 sed (>= 4.2.1),
 sosreport,
 sudo (>= 1.7.3),
 tree,
 xz-utils
Recommends: corekeeper
Conflicts: apparmor, vdsm-hook-sriov
Description: Virtual Desktop Server Manager
 The Vdsm service is required by oVirt Open Virtualization Manager to manage
 the Linux hosts. Vdsm manages and monitors the host's storage, memory and
 networks as well as virtual machine creation, other host administration
 tasks, statistics gathering, and log collection.

Package: vdsm-cli
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.7.3), vdsm-python (>= ${source:Version})
Description: Vdsm command line interface
 Call Vdsm commands from the command line. Used for testing and debugging.

Package: vdsm-debug-plugin
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.7.3), vdsm (>= ${source:Version})
Description: Plugin for debug access to running Vdsm
 Used by the trained monkeys at Red Hat to insert chaos and mayhem into Vdsm.

Package: vdsm-python
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python (>=2.7.3)
Description: Vdsm Python libraries
 Libraries shared between the various Vdsm packages.

Package: vdsm-tests
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.7.3), vdsm (>= ${source:Version}), python-nose
Description: Unit and functional tests for Vdsm
 A test suite for verifying the functionality of a running Vdsm instance.
